// color de fondo body
$bg-color-body: #575555;

//color fondo boton
$bg-color-botton: #7bf;
$color-text-botton:#575555;

//colores de textos
$color-text: black;
$color-text-code:#7bf;

// tamaño de texto y familia de textos
$size-text: 32px;
$font-principal-stack: "Figtree", serif;
$font-title-stack: "Times New Roman", serif;